<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Todo</title>
</head>
<body>
<div class="container">
    <div class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" th:href="@{/tasks/tasks}">Todo</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="btn btn-outline-light my-2 my-sm-0" th:href="@{/tasks/addTask}" role="button">Новая задача</a>
            </div>
        </div>
        <form class="form-inline">
            <ul class="navbar-nav mr-auto">
                <li>
                    <a class="nav-item nav-link" th:href="@{/tasks/tasks}">Все задачи</a>
                </li>
                <li>
                    <a class="nav-item nav-link" th:href="@{/tasks/completedTasks/true}">Выполненные</a>
                </li>
                <li>
                    <a class="nav-item nav-link" th:href="@{/tasks/completedTasks/false}">Новые</a>
                </li>
                <li>
                    <a class="nav-item nav-link" th:if="${user.username != 'Гость'}" th:href="@{/users/logout}">
                        <span th:text="${user.username}"></span>
                        <span> | Выйти</span>
                    </a>
                </li>
            </ul>
        </form>
    </div>
    <div th:if="${notFound}" class="alert alert-danger" role="alert">
        Задачи с таким Id не существует!
    </div>
    <div class="list-group" th:each="task: ${tasks}">
        <a th:href="@{|/tasks/formTaskDetail/${task.id}|}"
           class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex mr-auto p-2 bd-highlight">
                <div class="mr-auto p-2 bd-highlight">
                    <h5 class="mb-1" th:text="${task.description}"></h5>
                </div>
                <div class="p-2 bd-highlight">
                    <small class="mb-1" th:text="${task.priority.name}"></small>
                    <span th:if="${!task.done}">
                            <small class="text-success">Новая</small>
                        </span>
                    <span th:if="${task.done}">
                            <small class="text-muted">Завершена</small>
                        </span>
                </div>
            </div>
            <small class="mb-1" th:text="${'Автор: ' + task.user.username}"></small>
            <small class="text-muted" th:text="${#temporals.format(task.created, 'dd-MM-yyyy HH:mm')}"></small>
            <small class="text-muted" th:text="${'| id: ' + task.id + ' | '}"></small>
            <small>Категории:
                <span th:each="category : ${task.categories}">
                    <small th:text="${category.name}"></small>
                </span>
            </small>
        </a>
    </div>
</div>
</div>
</body>
</html>