<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Todo</title>
</head>
<body>
<div class="container">
    <div class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" th:href="@{/tasks}">Todo</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="btn btn-outline-light my-2 my-sm-0" th:href="@{/addTask}" role="button">Новая задача</a>
            </div>
        </div>
        <form class="form-inline">
            <ul class="navbar-nav mr-auto">
                <li>
                    <a class="nav-item nav-link" th:href="@{/tasks}">Все задачи</a>
                </li>
                <li>
                    <a class="nav-item nav-link" th:href="@{/completedTasks/true}">Выполненные</a>
                </li>
                <li>
                    <a class="nav-item nav-link" th:href="@{/completedTasks/false}">Новые</a>
                </li>
                <li>
                    <a class="nav-item nav-link" th:if="${user.username != 'Гость'}" th:href="@{/logout}">
                        <span th:text="${user.username}"></span>
                        <span> | Выйти</span>
                    </a>
                </li>
            </ul>
        </form>
    </div>
    <div class="row">
        <div class="card" style="width: 100%">
            <div class="card-header">
                Детали задачи.
            </div>
            <div class="card-body">
                <form th:action="@{/updateTask}" method="POST" th:object="${task}">
                    <div class="form-group">
                        <label for="id">id</label>
                        <input type="text" class="form-control" name="id" id="id" th:field="*{id}" readonly/>
                        <label for="description">Описание</label>
                        <input type="text" class="form-control" name="description" id="description"
                               th:field="*{description}" readonly>
                        <label for="created">Дата создания</label>
                        <input type="text" class="form-control" name="created" id="created" th:field="*{created}"
                               readonly>
                        <label for="username">Автор</label>
                        <input type="text" class="form-control" name="username" id="username" th:field="*{user.username}"
                               readonly>
                        <div th:if="*{!done}">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="uncompleted" disabled>
                                <label class="form-check-label" for="uncompleted">
                                    Задача выполнена
                                </label>
                            </div>
                        </div>
                        <div th:if="*{done}">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="completed" checked disabled>
                                <label class="form-check-label" for="completed">
                                    Задача выполнена
                                </label>
                            </div>
                        </div>
                    </div>
                    <a class="btn btn-primary mt-3" th:href="@{|/completeTask/${task.id}|}" role="button">Выполнено</a>
                    <a class="btn btn-primary mt-3" th:href="@{|/formUpdateTask/${task.id}|}" role="button">Редактировать</a>
                    <a class="btn btn-primary mt-3" th:href="@{|/deleteTask/${task.id}|}" role="button">Удалить</a>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>